.brand-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 1;
  flex: 0 0 20%;
  width: 23.8rem;
  cursor: pointer;
  position: relative;
  line-height: 2.5rem;
  padding: 2.1rem 2.1rem 2.1rem 0;
  border-bottom: solid 0.1rem rgba(#e5e5e5, 0.75);

  &:after {
    @include heightWidth(100%, 100%);

    transform: scaleY(1.25) scaleX(1.1) translateX(-1rem);
    box-shadow: 0 0 3rem rgba(122, 122, 122, 0.28);
    padding: 1.9rem 2.4rem 2.2rem 0;
    background-color: $color-white;
    transition: all 0.5s;
    position: absolute;
    display: block;
    content: "";
    z-index: -1;
    opacity: 0;
    left: 0;
    top: 0;
  }

  span:nth-child(2),
  &__paragraph,
  &:after,
  &__link,
  svg {
    @extend .transition-all;
  }

  &:hover:after {
    opacity: 1;
  }

  span:nth-child(2) {
    position: absolute;

    color: $color-gray-dark;
    visibility: hidden;
    font-size: 1.3rem;
    display: block;
    opacity: 0;
  }

  &:hover span:nth-child(2) {
    opacity: 1;
    visibility: visible;
  }

  svg {
    @include heightWidth(2.2rem, 2.2rem);

    padding: 0.6rem 0.85rem;
    fill: $color-primary;
    border-radius: 50%;
  }

  &:hover svg {
    background-color: $color-blue;
    fill: $color-white;
  }

  &:hover &__link {
    transform: translateY(-1.2rem);
  }

  &__link {
    &:link,
    &:visited {
      color: inherit;
      text-decoration: none;
      position: relative;
    }
  }

  &:hover &__paragraph {
    color: $color-blue;
  }
}
