.btn {
  &:link,
  &:visited {
    @extend .transition-all;

    background-color: $color-gray-light;
    text-decoration: none;
    padding: 2rem 4.1rem;
    color: $color-blue;
    line-height: 2rem;
    text-align: center;
  }

  @include respond(tab-port) {
    width: 80%;
    margin-bottom: 6.9rem;
  }

  @include respond(phone) {
    padding: 2rem 1rem !important;
  }

  &:hover {
    color: $color-white;
    background-color: $color-gray-dark;
  }
}
